<div class="main">
        <!-- <div *ngFor = "let movie of movies">
                <div class="moviedetail">
                        <p><b>Title :</b> {{movie.title}}</p>
                        <p><b>Year: </b>{{movie.year}}</p>
                        <p><b>Rating :</b> {{movie.rating}}</p>
                        <p><b>Genre: </b>{{movie.genre}}</p>
                </div>
        </div> -->
        <!-- <div 
            infinite-scroll
            [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollUpDistance]="scrollUpDistance"
            [infiniteScrollThrottle]="throttle"
            (scrolled)="onScrollDown()">
        </div> -->
</div>
    