
<div class="top"> 
        <h1>IMDB TC</h1>
        <h2>Search: </h2>
        <form [formGroup] = "rForm">
                <input type="text" formArrayName ="title" [formControl]="queryField" placeholder="Search Movies ..." (keyup.enter)="search()">
                <div class="sidenav" >
                        <p> Categories:  </p>
                        <label
                                formArrayName="categories"
                                *ngFor="let category of getControls(); let i = index"
                                >
                                <p> <b>{{categories[i]}}  </b> <input type="checkbox" [formControl]="category" (change)="filter()"/>  </p>
                        </label>
                </div>
        </form>
<app-list [results]="results" [movies] = "movies" [nextUrl] = "nextUrl">
</app-list>
